{% extends "app.twig" %}

{% block title %}Payment demo - {{ parent() }}{% endblock %}

{% block content %}

    <h1>Payment demo</h1>

    <div class="row">

        <div class="col-md-6">

        {% if exception %}

            <div class="panel panel-default">

                <div class="panel-heading">Authorization check</div>

                <div class="panel-body">
                    <div class="alert alert-danger" role="alert">
                        Authorization unsuccessful
                        <h3>Message</h3>
                        <pre>{{ exception.getMessage }}</pre>
                    </div>
                </div>

                <div class="panel-footer">
                    <a href="{{ urlFor("settings") }}" class="btn btn-success" role="button">Continue to update settings</a>
                </div>
            </div>

        {% else %}

            <div class="panel panel-success">
                <div class="panel-heading">Authorization check</div>
                <div class="panel-body">
                    Authorization successful
                </div>
                <div class="panel-footer">
                    <a href="{{ urlFor("customer") }}" class="btn btn-success" role="button">Continue to create customer</a>
                    <a href="{{ urlFor("container") }}" class="btn btn-success" role="button">Continue to create container</a>
                </div>
            </div>

        {% endif %}

        </div>

    </div>

{% endblock %}