<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">List of Containers</h3>
    </div>
    <div class="panel-body">

        <table class="table table-condensed table-hover">

            <thead>
            <tr>
                <th>ID</th>
                <th>Customer</th>
                <th>Owner</th>
                <th>IBAN</th>
                <th>BIC</th>
                <th>Bank name</th>
            </tr>
            </thead>

            <tbody>

            {% for item in list %}
            <tr>
                <th scope="row">{{ item.id }}</th>
                <td>{{ item.customer.id }}</td>
                <td>{{ item.public.owner }}</td>
                <td>{{ item.public.iban }}</td>
                <td>{{ item.public.bic }}</td>
                <td>{{ item.public.bankname }}</td>
            </tr>

            {% endfor %}

            </tbody>

        </table>

    </div>
</div>
