{% extends "app.twig" %}

{% block title %}Secupay debit - {{ parent() }}{% endblock %}

{% block content %}

    <h1>Create Secupaydebit</h1>

    <div class="row">

        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">New Secupaydebit</h3>
                </div>

                <form class="form-horizontal" method="POST" action="">

                    <div class="panel-body">

                        <div class="col-md-6">

                            <div class="form-group">
                                <label for="inputContainerId" class="col-sm-2 control-label">ContainerID</label>
                                <div class="col-sm-10">
                                    <input name="container_id" value="{{ form.container_id }}" type="text" class="form-control" id="inputContainerId" placeholder="PCT_xxx">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputCustomerId" class="col-sm-2 control-label">CustomerID</label>
                                <div class="col-sm-10">
                                    <input name="customer_id" value="{{ form.customer_id }}" type="text" class="form-control" id="inputCustomerId" placeholder="PCU_xxx">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputContractId" class="col-sm-2 control-label">ContractID (optional)</label>
                                <div class="col-sm-10">
                                    <input name="contract_id" value="{{ form.contract_id }}" type="text" class="form-control" id="inputContractId" placeholder="PCR_xxx">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputAmount" class="col-sm-2 control-label">Amount (in cents)</label>
                                <div class="col-sm-10">
                                    <input name="amount" value="{{ form.amount }}" type="text" class="form-control" id="inputAmount">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPurpose" class="col-sm-2 control-label">Purpose (optional)</label>
                                <div class="col-sm-10">
                                    <input name="purpose" value="{{ form.purpose }}" type="text" class="form-control" id="inputPurpose" placeholder="purpose of payment">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputOrderId" class="col-sm-2 control-label">Order Id (optional)</label>
                                <div class="col-sm-10">
                                    <input name="order_id" value="{{ form.order_id }}" type="text" class="form-control" id="inputOrderId">
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="panel-footer">
                        <button type="submit" class="btn btn-default">Save</button>
                    </div>

                </form>

            </div>

        </div>

    </div>

    {% if new %}
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Create Secupaydebits result</h3>
            </div>

            <div class="panel-body">
                {{ dump(new) }}
            </div>

        </div>
    {% endif %}

{% endblock %}
